<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/custom.css}">
    </head>

    <head th:fragment="js">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SIPEG</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li> 
                    <a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/not-found}">Cari Pegawai</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/jabatan/viewall}">Lihat Semua Jabatan</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:fragment="header">
		<h1>Sistem Informasi Kepegawaian</h1>
    	<h4>Selamat Datang di Sistem Kepegawaian</h4>    
    </div>
</body>
</html>