<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar">
		</nav>
		<h3>Tambah Pegawai</h3>
		<form th:action="@{/pegawai/tambah}" th:object="${pegawaiCmd}" method="POST">
			<table>
				background-color: #f2f2f2;7285a5
			<button type="submit">Submit</button>
		</form>
	</body>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    $('#provinsi').change(
        function() {
            $.getJSON("http://localhost:8080/getInstansis", {
                provinsiId : $(this).val()
            }, function(data) {
                var html = '<option value="">Pilih Instansi</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option th:value="${' + data[i].id + '}">'
                        + data[i].nama + '</option>';
                }
                html += '</option>';
                $('#instansi').html(html);
            });
        });
/*]]>*/
</script>
</html>