<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar">
		</nav>
		<div th:replace="fragments/fragment :: header"> 
		</div>
	<div>
		<br><br>
		<h4 th:text="'Lihat Data Pegawai : '+${pegawai.nip}"></h4>
	</div>
	<div>
    <table>
        <tbody>
            <tr>
                <td>NIP : </td>
                <td th:text="${pegawai.nip}"></td>
            </tr>
            <tr>
                <td>Nama : </td>
                <td th:text="${pegawai.nama}"></td>
            </tr>
            <tr>
                <td>Tempat Lahir : </td>
                <td th:text="${pegawai.tempat_lahir}"></td>
            </tr>
            <tr>
                <td>Tanggal Lahir : </td>
                <td th:text="${pegawai.tanggal_lahir}"></td>
            </tr>
            <tr>
                <td>Tahun Masuk : </td>
                <td th:text="${pegawai.tahun_masuk}"></td>
            </tr>
            <tr>
                <td>Instansi : </td>
                <td th:text="${pegawai.jabatanfull}"></td>
            </tr>
            <tr>
                <td>Instansi : </td>
                <td>
                    <ul th:each="jabatan: ${jabatanPegawaiModels}">
                        <li th:text="${jabatan.getNamaJabatan()}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Gaji : </td>
                <td th:text="${gaji}"></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/pegawai/ubah/} + ${pegawai.nip}">
			<button type="submit">Update Pegawai</button>
	</form>
    </div>
</html>